h1, h2, h3, h4, h5, p
  margin 0
  padding 0

body
  font-family Arial, Helvetica, sans-serif

.header
  text-align center
  vertical-align middle
  padding 10px
  background-color white

.logo
  width 30%

nav
  background-color white

.navbar
  margin 0

#main-container
  margin 0 30px 30px 30px

.map 
  width 100%

.map-large
  height 500px

.map-small
  height 300px

.branch-detail-header
  margin 10px 0

.branch-detail-subheading
  font-weight bold

.map-sm-container
  padding-right 0

.list-group-item
  background-color #4585E6

.branch-detail-subheading
  color #EDEDFF

.detail
  color #EDEDFF


